// Responsive Dimension Settings
$desktop-min-width: 970px;
$tablet-max-width: 969px;
$tablet-min-width: 720px;
$mobile-landscape-max-width: 719px;
$mobile-landscape-min-width: 544px;
$mobile-portrait-max-width: 543px;
$mobile-portrait-min-width: 320px;

// Font Family
$circular-pro-book: "Circular-Pro-Book";
$circular-pro-bold: "Circular-Pro-Bold";

// Spacer
$space-xlarge: 40px;
$space-large: 30px;
$space-medium: 20px;
$space-small: 10px;
$space-xsmall: 5px;

// Color Palettes
$color-black: #000;
$color-white: #fff;
$color-light-blue: #0a97e5;
$color-primary-01: #00bed8;
$color-primary-02: #bee6f4;
$color-grey-00: #333333;
$color-grey-01: #58595b;
$color-grey-02: #888888;
$color-grey-03: #a5a6aa;
$color-grey-04: #d6d6d6;
$color-grey-05: #e3e3e3;
$color-grey-06: #e1e1e1;
$color-grey-07: #f4f4f4;
$color-green-00: #21b21e;
$color-yellow-00: #efc225;
$color-red-00: #f80c27;
$color-navy-blue: #2f4050;